{{!-- A block that can be used to generate the list items --}}
<li>
    {{icecream_name}}

    <button type='button' id='change-devoured' class='btn btn-warning' data-id='{{id}}' data-newdevour='{{devoured}}'>
        {{#if devoured}}eat the ice cream!{{/if}}
    </button>
</li>