{{!-- A block that can be used to generate the list items --}}
<li>
    {{icecream_name}}

    <button type='button' class='change-devoured btn btn-warning' data-id='{{id}}' data-devour='{{notDevoured}}'>
        {{#if notDevoured}}eat the ice cream!{{/if}}
    </button>
</li>