body {
    background-image: url('/img/food.png');
}

#header {
    display: block;
    text-align: center;
}

h3 {
    color: white;
    text-align: center
}

h5 {
    color: white;
    text-align: center;
}

#new-icecream {
    color: white;
    text-align: center;
}