body {
    background-image: url('/img/food.png');
}

#header {
    display: block;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h5 {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#new-icecream {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#ready,
#eaten {
    color: white;
    font-family: 'Merriweather', serif;
}